*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    background-image: url("../img/bgrReapeat.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}

/* CSS NAV HEADER */
nav {
    /* position: fixed; */
    height: 80px;
    width: 100%;
    background-color: #FD4A36;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav img {
    width: 50px;
    height: 50px;
}

nav ul li {
    padding: 0 10px;
    display: inline;


}

nav ul li a {
    font-size: large;
    text-transform: capitalize;
    color: #fff;

}

nav .search {
    width: 500px;
    border: none;
    /* border-radius: 10px; */
    padding: 7px 15px;
    outline: none;
}

.header {
    /* position: relative; */
}

.nav_mini ul li {
    list-style: none;
    display: inline-block;
    padding: 0 17px;

    color: #Fff;
}

.nav_mini {
    /* background: linear-gradient(rgba(252, 28, 4, 0.5), rgba(252, 28, 4, 0.137)); */
    background-color: #FD4A36;
    Border-bottom-left-radius: 50px;
    position: absolute;
    right: 0px;
    top: 0px;

}

.name {
    border-bottom: 3px solid #FD4A36;
    position: absolute;
    bottom: 34%;
    left: 10%;
    font-size: 64px;
    color: #FD4A36;
    text-shadow: 0 0 15px white;
    font-weight: bold;
}

.slogan {
    position: absolute;
    bottom: 29%;
    left: 10%;
    font-size: 28px;
    color: #FD4A36;
}


.header>img {
    padding-bottom: 100px;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    background-size: cover;
    border: none;
}


/* CSS CHI TIẾT */
h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 50px;

}
.detail{
    position: relative;
    width: 80%;
    height: 100%;
    padding: 10px 15px;
    border: 5px solid #fff;
    background: linear-gradient(rgba(255, 0, 0, 0.726), rgba(252, 252, 252, 0));
    margin: 0 auto !important;
    margin-bottom: 50px !important;
}
.detail .detail_dish{
    display: flex;
    width: 100%;

}
.detail .detail_dish img{
  max-width: 100%;
  margin: 0 auto;
}

.detail .detail_dish .mon1{
    width: 80%;
    border: 5px solid #fff;
    margin-top: 30px;
}
.detail .detail_dish .mon1 .anhKhac{
    width: 33.33%;
    display: flex;
}

.detail .detail_dish .recipe_dish{
    width: 100%;
    margin-left: 15px;
    margin-top: 30px;

}
.ingredients{
    text-decoration-line: underline;
}
.name_dish, .congThuc, .ingredients, li{
    color: rgba(255, 255, 255, 0.815);
}
.congThuc{
    padding-top: 10px;
}
.recipe_dish i{
    color: #fffb2a;
}
.price{
    font-size: 30px;
    text-decoration: underline;
}

.buttonOder {
    padding: 8px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #FD4A36;
    color: #fff;
    box-shadow: inset 0 0 20px rgb(255, 0, 0);
    

}

.buttonOder:hover {
    background-color: #fff;
    color: #FD4A36;
    box-shadow: inset 0 0 10px #FD4A36;
}
.recipe_dish .oderNow:hover{
    width: 150px;
    height: 50px;
    border: 3px solid red;
    text-align: center;
    /* padding-top:5px ; */
    background-color: #fff;
    color: #FD4A36;
}
.danhgia_nguonGoc{
    margin-top: 20px;
    display: flex;
    width: 100%;
    border: #fff solid 3px;
}
.danhgia_nguonGoc .danhGia{
    margin: 5px;
    width: 50%;
    border-right: 2px solid #fff;
    
}
.danhgia_nguonGoc .danhGia .user{
    margin: 5px;
    display: flex;
}

.danhgia_nguonGoc .nguonGoc{
    margin: 5px;
    width: 50%;
}
.detail #chef{
    width: 20%;
    position: absolute;
    top: 30%;
    right: 5%;
}



/* CSS FOOTER */
footer {
    height: 300px;
    background-image: url("../img/sushi1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

footer h5 {
    color: #fff;
    font-size: larger;
    line-height: 50px;

}

footer .Infor {
  
    position: absolute;
    top: 40px;
    left: 150px;
    
}

.Infor .Jfood {
    background: url("../img/jfood.png") no-repeat 5px;
    background-size: 20px;
    display: block;
    padding: 5px 0px 5px 30px;
}

.Infor .Adress {
    background: url("../img/placeholder.png") no-repeat 5px;
    background-size: 20px;
    display: block;
    padding: 5px 0px 5px 30px;
}

.Infor .Email {
    background: url("../img/Email.png") no-repeat 5px;
    background-size: 20px;
    display: block;
    padding: 5px 0px 5px 30px;
}

.Infor .Phone {
    background: url("../img/phone-call.png") no-repeat 5px;
    background-size: 20px;
    display: block;
    padding: 5px 0px 5px 30px;
}

.Social_Media {
    position: absolute;
    top: 0;
    right: 15%;
    padding-top: 25px;
}

.Social_Media a {
    padding-top: 10px;
}

.Social_Media img {
    width: 50px;
    height: 50px;
    
    padding: 5px;
}

.Social_Media .facebook {
    padding-right: 500px;
    display: block;
}

.Social_Media .instagram {
    padding-right: 500px;
    display: block;
}

.Social_Media .youtube {
    padding-right: 500px;
    display: block;
}

.Social_Media .github {
    display: block;
    padding-right: 500px;
}

.endFooter{
    position: absolute;
    top: 280px;
    left: 42%;

    
}
.Author{
    color: #fff;
}