* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  background-image: url("../img/bgrReapeat.jpg");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
}

nav {
  /* position: fixed; */
  height: 80px;
  width: 100%;
  background-color: #FD4A36;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

nav img {
  width: 50px;
  height: 50px;
}

nav ul li {
  padding: 0 10px;
  display: inline;


}

/* .signup{
    font-size: large;
    text-transform: capitalize;
    color: #fff;
} */
nav ul li a {
  font-size: large;
  text-transform: capitalize;
  color: #fff;

}

nav ul li a ul li a {
  font-size: large;
  text-transform: capitalize;
  color: #fff;

}



nav .search {
  width: 500px;
  border: none;
  /* border-radius: 10px; */
  padding: 7px 15px;
  outline: none;
}

.header>img {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-size: cover;
  border: none;
}

.backtotop {
  /* font-size: 30px; */
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-decoration: none;
  background-image: url("../img/angle-circle-up.png");
  background-size: 100% 100%;
  margin: 20px;

}


/* gio hang */
table{
  border: 2px solid #fff;
  border-collapse: collapse;
}

.gioHang caption{
  border: 2px solid #fff;
  font-size: xx-large;
border-radius: 5px;
  margin: 50px 0;
  width: 20%;
  color: #fff;
}
.gioHang table {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.gioHang table th {
  background: #FD4A36;
  height: 60px;
  color: #fff;


}

.gioHang table td {
  border: 2px solid #Fff;
  color: #fff;
  height: 50px;
  padding: 10px ;
}
.tongBill{
  font-size: larger;
  color: #FD4A36;
  height: 50px;
  padding: 20px 0;
}
.but{
  /* margin: 0 auto!important; */
}

.gioHang button{
  
  background: #FD4A36;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 15px;
  margin: 40px 20px;
  border-radius: 7px;
}
.gioHang button a{
  color: #fff;
  text-decoration: none;
}

/* CSS FOOTER */
footer {
  height: 300px;
  background-image: url("../img/sushi1.jpg");
  /* background-color: #FD4A36; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

footer h5 {
  color: #fff;
  font-size: larger;
  line-height: 50px;

}

footer .Infor {

  position: absolute;
  top: 40px;
  left: 150px;

}

.Infor .Jfood {
  background: url("../img/jfood.png") no-repeat 5px;
  background-size: 20px;
  display: block;
  padding: 5px 0px 5px 30px;
}

.Infor .Adress {
  background: url("../img/placeholder.png") no-repeat 5px;
  background-size: 20px;
  display: block;
  padding: 5px 0px 5px 30px;
}

.Infor .Email {
  background: url("../img/Email.png") no-repeat 5px;
  background-size: 20px;
  display: block;
  padding: 5px 0px 5px 30px;
}

.Infor .Phone {
  background: url("../img/phone-call.png") no-repeat 5px;
  background-size: 20px;
  display: block;
  padding: 5px 0px 5px 30px;
}

.Social_Media {
  position: absolute;
  top: 0;
  right: 15%;
  padding-top: 25px;
}

.Social_Media a {
  padding-top: 10px;
}

.Social_Media img {
  width: 50px;
  height: 50px;

  padding: 5px;
}

.Social_Media .facebook {
  padding-right: 500px;
  display: block;
}

.Social_Media .instagram {
  padding-right: 500px;
  display: block;
}

.Social_Media .youtube {
  padding-right: 500px;
  display: block;
}

.Social_Media .github {
  display: block;
  padding-right: 500px;
}

.endFooter {
  position: absolute;
  top: 280px;
  left: 42%;


}

.Author {
  color: #fff;
}