
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container {
    width: 100%;
}

/* CSS HEADER VÀ NAV */



nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #FD4A36;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav img {
    width: 50px;
    height: 50px;
}

nav ul li {
    padding: 0 10px;
    display: inline;


}

nav ul li a {
    font-size: large;
    text-transform: capitalize;
    color: #fff;

}

nav .search {
    width: 500px;
    border: none;
    /* border-radius: 10px; */
    padding: 7px 15px;
    outline: none;
}

.header {
    padding: 0;
    position: relative;
}

.nav_mini ul li {
    list-style: none;
    display: inline-block;
    padding: 0 17px;

    color: #Fff;
}

.nav_mini {
    background-color: #FD4A36;
    Border-bottom-left-radius: 50px;
    position: absolute;
    right: 0px;
    top: 0px;

}

.name {
    border-bottom: 3px solid #FD4A36;
    position: absolute;
    bottom: 34%;
    left: 10%;
    font-size: 64px;
    color: #FD4A36;
    text-shadow: 0 0 15px white;
    font-weight: bold;
}

.slogan {
    position: absolute;
    bottom: 29%;
    left: 10%;
    font-size: 28px;
    color: #FD4A36;
}


.header>img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* CSS ABOUT US */
.about{
    width: 100%;
    padding-top: 200px;
    background-image: url("../img/nhaHangjp.jpg");
    background-size: 100% 100%;
}
.logo_ab {
    width: 80%;
    padding-left: 40%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.doanvan{
    background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0.5));  
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}
.chungtoi {
    
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: xx-large;
    
}

/* .about {
    
    background-image: url("../img/nhaHang1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

} */

.AboutUs {
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
    /* margin: 5px; */
    /* font-size: xx-large; */
}
.thongTinVeNH {
    margin: 0 auto;
    padding: 100px;
    padding-left: 335px;
    position: relative;
}

.chiNhanh {
    /* position: relative; */
    display: inline-block;
    background-image: url("../img/mockupLogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 20px;
    margin: 40px;
    /* padding-top: 50px; */

}
.divh3{
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 71.5%;
    /* margin: 50px; */
}
.chinhanhh{
    color: #fff;
    padding: 0;
    margin: 0;
}
/* h3,h2{
   color: #fff; 
} */

.NhanVien {
    /* position: relative; */
    display: inline-block;
    background-image: url("../img/employee.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 20px;
    margin: 40px;

}
.divh4{
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 61.5%;
    /* right: 0; */
}

.tinhThanh {
    /* position: relative; */
    display: inline-block;
    background-image: url("../img/ban-do-tay-ban-nha.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 20px;
    margin: 40px;
}


.divh5{
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 45%;
    /* right: 0; */
}
/* .thongTinVeNH{
    display: flex;
    padding-left: 22%;
    margin: 10px;
    padding-bottom: 200px;
    padding-top: 100px;
}
h3{
    color: #fff;
    text-align: center;
}
.divh3{
    margin: 30px;
    display: inline-block;
    padding-bottom: -1000px;
} */
/* .chiNhanh{ 
    display: inline-block;
    background-image: url("../../img/mockupLogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 20px;
    margin: 40px;
    
}
.NhanVien{
    display: inline-block;
    background-image: url("../../img/employee.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 20px;
    margin: 40px;
    
}
.tinhThanh{
    display: inline-block;
    background-image: url("../../img/ban-do-tay-ban-nha.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 20px;
    margin: 40px;
} */
/* CSS FOOTER */
footer {
    height: 300px;
    background-image: url("../img/sushi1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

footer h5 {
    color: #fff;
    font-size: larger;
    line-height: 50px;

}

footer .Infor {
  
    position: absolute;
    top: 40px;
    left: 150px;
    
}

.Infor .Jfood {
    background: url("../img/jfood.png") no-repeat 5px;
    background-size: 20px;
    display: block;
    padding: 5px 0px 5px 30px;
}

.Infor .Adress {
    background: url("../img/placeholder.png") no-repeat 5px;
    background-size: 20px;
    display: block;
    padding: 5px 0px 5px 30px;
}

.Infor .Email {
    background: url("../img/Email.png") no-repeat 5px;
    background-size: 20px;
    display: block;
    padding: 5px 0px 5px 30px;
}

.Infor .Phone {
    background: url("../img/phone-call.png") no-repeat 5px;
    background-size: 20px;
    display: block;
    padding: 5px 0px 5px 30px;
}

.Social_Media {
    position: absolute;
    top: 0;
    right: 15%;
    padding-top: 25px;
}

.Social_Media a {
    padding-top: 10px;
}

.Social_Media img {
    width: 50px;
    height: 50px;
    
    padding: 5px;
}

.Social_Media .facebook {
    padding-right: 500px;
    display: block;
}

.Social_Media .instagram {
    padding-right: 500px;
    display: block;
}

.Social_Media .youtube {
    padding-right: 500px;
    display: block;
}

.Social_Media .github {
    display: block;
    padding-right: 500px;
}

.endFooter{
    position: absolute;
    top: 280px;
    left: 42%;

    
}
.Author{
    color: #fff;
}